* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Bangers", cursive;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}
