.card {
  &__img {
    width: 90%;

    margin-bottom: 1rem;
  }

  &__button {
    border: none;
    border-radius: 0.3rem;
    margin-top: 0.5rem;
    padding: 0.7rem;
    background-color: white;
  }
}
