.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;

  &__label {
    font-size: 1.5rem;
    margin-bottom: 1rem;

    &--sm {
      font-size: 1rem;
      margin: 0.5rem;
    }
  }

  &__text {
    font-style: italic;
  }

  &__input-text {
    width: 120%;
    border: 1px solid blue;
    border-radius: 2rem;
    padding: 0.8rem;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  &__checkbox {
    display: flex;
  }
}
