.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  max-width: 900px;

  &__info {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  &__number {
    color: dodgerblue;
    font-size: 1.5rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90vw;
  }

  &__item {
    width: 30%;
  }
}
