.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  max-width: 900px;

  &__info {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  &__number {
    color: dodgerblue;
    font-size: 1.5rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 90vw;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 70%;
  border: none;
  border-radius: 1.2rem;
  padding: 1.5rem 0;

  background-color: dodgerblue;

  margin: 0.2rem;

  @media all and (min-width: 768px) {
    width: 30%;
  }
}
